@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  background: url("https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1");
}

.container {
  color: #fff;
  padding: 1.25rem 4.375rem;
}

.form__group {
  width: 30%;
  display: flex;
  margin-top: 0.9rem;
  padding: 0.938rem 0 0;
}

.form__field {
  border: 0;
  outline: 0;
  width: 100%;
  color: white;
  font-size: 0.9rem;
  font-family: inherit;
  background: transparent;
  border-bottom: 0.1rem solid;
}

.form__field :required,
:invalid {
  box-shadow: none;
}
.fa-solid {
  color: rgb(201, 201, 201);
}
#search {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
}

.current-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.date-container {
  font-weight: 100;
}
.date-container .time {
  font-size: 4.375rem;
}

.date-container #am-pm {
  font-size: 1.875rem;
  margin-left: 1.25rem;
}

.date-container .date {
  font-size: 1.875rem;
}

.place-container {
  text-align: end;
}

.place-container .time-zone {
  font-size: 1.875rem;
  font-weight: 100;
}

.place-container .country {
  font-size: 0.75rem;
  font-weight: 700;
}

.current-info .others {
  display: flex;
  padding: 1.25rem;
  margin: 0.625rem 0;
  flex-direction: column;
  border-radius: 0.625rem;
  border: 0.063rem solid #eee;
  background: rgba(24, 24, 27, 0.6);
}

.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
}

.future-forecast {
  bottom: 0;
  width: 100%;
  display: flex;
  color: white;
  position: fixed;
  padding: 1.563rem;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  background: rgba(24, 24, 27, 0.8);
}

.future-forecast .today {
  display: flex;
  padding: 0.938rem;
  align-items: center;
  padding-right: 2.5rem;
  border-radius: 0.625rem;
  border-radius: 0.625rem;
  justify-content: center;
  border: 0.063rem solid #eee;
  background: rgba(0, 0, 0, 0.2);
}

.future-forecast .today .day {
  text-align: center;
  background: #3c3c44;
  border-radius: 3.125rem;
  padding: 0.313rem 0.938rem;
}

.future-forecast .today .temp {
  font-size: 1.125rem;
  padding-top: 0.938rem;
}

.future-forecast .weather-forecast {
  display: flex;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  padding: 0.938rem;
  margin: 0 0.625rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.625rem;
  border: 0.063rem solid #eee;
  background: rgba(0, 0, 0, 0.2);
}

.weather-forecast .weather-forecast-item .day {
  text-align: center;
  background: #3c3c44;
  border-radius: 3.125rem;
  padding: 0.313rem 0.938rem;
}

.weather-forecast .weather-forecast-item .temp {
  font-weight: 100;
  font-size: 0.75rem;
}

@media only screen and (max-width: 45.625rem) {
  .container {
    padding: 1.25rem;
  }

  .future-forecast {
    align-items: none;
    overflow-y: scroll;
    justify-content: start;
  }

  .future-forecast .today .temp {
    font-size: 1rem;
  }

  .date-container .time {
    font-size: 3.125rem;
  }

  .date-container #am-pm {
    font-size: 1.25rem;
  }

  .date-container .date {
    font-size: 1.25rem;
  }

  .place-container {
    text-align: end;
    margin-top: 0.938rem;
  }

  .place-container .time-zone {
    font-size: 1.25rem;
  }

  .current-info .others {
    padding: 0.75rem;
  }

  .current-info .others .weather-item {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 87.5rem) {
  .future-forecast {
    align-items: none;
    overflow-x: scroll;
    justify-content: start;
  }
}
